* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(#0f0f77 5%, #3535EC); /*Percentuale indica la predominanza di un colore rispetto all'altro*/
    background-attachment: fixed; /* Il background non sarà scrollabile */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pianopanel { 
    height: 100px;
    background-color: darkorange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-image: url(img/panel-reflex.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-top: 4px double orangered;
    border-left: 4px double orangered;
    border-right: 4px double orangered;
    border-bottom: 8px solid orangered;
    border-radius: 5px 5px 0 0;  
    position: relative;
}

.gen {
    width: 100px;
}

.sunset {
    width: 80px;
}

.piano-keys {
    height: 190px;
    background-color: black;
    display: flex;
    border-radius: 0 0 10px 10px;
}

.key {
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

.kwhite {
    height: 100%;
    width: 60px;
    background-color: whitesmoke;    
    border: blueviolet 2px solid;
    border-bottom: 5px solid gray;
    border-radius: 0 0 8px 8px;
}

.kblack {
    height: 60%;
    width: 40px;
    background: linear-gradient(#737373 10%, #0d0d0d);  
    border: darkslateblue 5px solid;
    border-radius: 0 0 8px 8px;
    margin-left: -20px; /* Se vogliamo i tasti accavallati */
    margin-right: -20px;
    z-index: 2; /* Permette di spostare la posizione di un elemento */
}

.kwhite:active {
    background-color: lightslategrey;
}

.kblack:active {
    background: darkslateblue;
}